<main>
    <nav class="bg-white border-b border-green-600 shadow-sm">
        <div class="p-4 flex justify-between text-gray-950 text-lg">
            <div>
                <a routerLink="/acceuil" class="p-2 text-2xl font-semibold ">
                   <span>Uli</span><span class="text-green-600 font-semibold">za</span>
                </a>
            </div>
            <div class="text-green-950 font-semibold">
                <a routerLink="/doc">Docs</a>
                <a routerLink="/login" class="p-2 ml-3 bg-green-600 text-white px-4 rounded-md">Login</a>
            </div>
        </div>
    </nav>


</main>
