import { Component } from '@angular/core';
import { CommonModule } from '@angular/common';
import { FormsModule } from '@angular/forms';

@Component({
  selector: 'app-tchat',
  imports: [CommonModule, FormsModule],
  templateUrl: './tchat.component.html',
  styles: [`
    .sidemenu {
      transform: translateX(0);
    }
  `]
})
export default class TchatComponent {
  cliker = false;
  textComplet = "salut, j'espère que tu vas bien, je suis une intelligence artificielle développée par onyotech et je peux t'aider dans tout ce que tu veux";
  texteAffiche = '';

  messages: string[] = [];

  afficherCar() {
    let index = 0;
    const afficher = () => {
      this.texteAffiche = this.textComplet.substring(0, index);
      index++;
      if (index <= this.textComplet.length) {
        setTimeout(afficher, 50);
      }
    };
    afficher();
  }

  ecrire() {
    this.afficherCar();
    this.cliker = true;
  }

  valeurInput = "";
  gaff = "";
  send() {
    this.messages.push(this.valeurInput);
    this.valeurInput = "";
    if (this.messages.includes('salut')) {
      this.cliker = true;
      setTimeout(() => {
        this.ecrire();
      }, 2000);
    } else {
      this.textComplet = 'error';
      setTimeout(() => {
        this.ecrire();
      }, 2000);
    }
  }

  menuShow = false;
  discussion() {
    this.menuShow = !this.menuShow;
  }
}
